extends layout

block content
    h1 LASA Assassins
    p Welcome to LASA Assassins
    h2 Remaining Teams
    table
        tr
            th Captain
            th Partner
        each team in teams
            tr
                - var cac = team.cactive ? '' : 'dead'
                - var mac = team.mactive ? '' : 'dead'
                td.captain(class=cac)= team.captain 
                td(class=mac)= team.mate
    h2 Recent Kills
    ul
        each kill in kills
            li= kill.killed + ' is sleeping with the fishes'
