extends layout

block content
    h1 LASA Marker Tag
    h2 Fun Time Educational Rules
    p Don't forget to send one of the line leaders a text when you introduce a friend to color! Also make sure you always color between the lines and below the face.
    h2 Remaining Teams
    table
        tr
            th Captain
            th Partner
        each team in teams
            tr
                - var cac = team.cactive ? '' : 'dead'
                - var mac = team.mactive ? '' : 'dead'
                td.captain(class=cac)= team.captain 
                td(class=mac)= team.mate
    h2 Recent Colorings
    ul
        each kill in kills
            li= kill.killed + ' has had an accident with colour'
