doctype html
html
  head
  title Senior Sunshine Happy Academic Fun Time (Senior SHAFT)
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    hr
    footer
      p Created by Arnav Sastry
      p Background Image by LASA Teachers Ms. Harrison and Former Teacher Ms. Young
